<ul class="nav nav-tabs nav-stacked main-menu" data-role="admin">
  <li>
    <a target="_blank" href="<%= tutor_calendar_index_path %>"><i class="fa fa-calendar"></i><span class="hidden-sm"> <%= t('calendar.calendar') %></span></a>
  </li>        
  <li>
    <a href="<%= tutor_lesson_path %>" id="lesson-menu-link"><i class="fa fa-paper-plane-o"></i><span class="hidden-sm"> <%= t('lesson.lesson') %></span></a>
  </li>    
  <li>
    <a target="_blank" href="<%= tutor_homework_index_path %>"><i class="fa fa-briefcase"></i><span class="hidden-sm"> <%= t('homework.homework') %></span></a>
  </li>
  <li>
    <a href="<%= admin_users_path %>"><i class="fa fa-users"></i><span class="hidden-sm"> Пользователи</span></a>
  </li>
  <%#*Завяки и Обратный звонок по умолчанию скрыты:%>
  <li class="hidden">
      <a href="<%= admin_requests_path %>"><i class="fa fa-inbox">          
        </i>
        <span class="hidden-sm"> Заявки</span>
    </a>
  </li>
  <li class="hidden">
    <a href="<%= admin_callbacks_path %>"><i class="fa fa-phone-square"></i>
        <span class="hidden-sm"> Обратный звонок</span></a>
  </li>
  <li>
    <a class="dropmenu" href="#"><i class="fa fa-university"></i><span class="hidden-sm"> Отчеты/занятия</span></a>
    <ul>
      <li>
        <a href="<%= admin_class_types_path %>"><i class="fa fa-thumb-tack"></i><span class="hidden-sm"> Типы занятий</span></a>
      </li>
      <li>
        <a href="<%= admin_calendar_index_path %>"><i class="fa fa-calendar"></i><span class="hidden-sm"> Общее расписание</span></a>
      </li>

      <li>
        <a href="<%= admin_reports_path %>"><i class="fa fa-file-text-o"></i><span class="hidden-sm"> Отчеты</span></a>
      </li> 
    </ul>	
  </li>
  <li>
    <a class="dropmenu" href="#"><i class="fa fa-folder-o"></i><span class="hidden-sm"> Сайт</span></a>
    <ul>
      <li><a class="submenu" href="<%= admin_services_path %>"><i class="fa fa-university"></i><span class="hidden-sm"> Услуги</span></a></li>
      <li><a class="submenu" href="<%= admin_tutors_path %>"><i class="fa fa-graduation-cap"></i><span class="hidden-sm"> Преподаватели</span></a></li>
      <li><a class="submenu" href="<%= admin_opinions_path %>"><i class="fa fa-comments-o"></i><span class="hidden-sm"> Отзывы</span></a></li>
    </ul>	
  </li>
  <li>
    <a href="<%= admin_error_reports_path %>"><i class="fa fa-exclamation-triangle"></i><span class="hidden-sm"> Отчеты об ошибках</span></a>
  </li>
</ul>