<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Анализатор речи</title>
    <%= favicon_link_tag 'favicon.ico' %>
    
    <!-- All styles -->
    <%= stylesheet_link_tag "public_styles" %>
    
  </head>
        
  <body>
				
    <div class="wrapper wrapper_full-screen wrapper_hidden-footer">
      <div class="screen screen_hidden-footer">
        
        <%= render(:partial => "layouts/header") %>

        <section class="mission-box mission-box_no-margin wow pulse">
          <div class="container">
            <div class="row">
              <div class="mission text-center col-xs-12 col-lg-9 ">
                <span class="mission-text">
                  <p class="mission-text__paragraph">
                    Анализатор английской речи
                  </p>
                </span>
              </div>
            </div>
          </div>
        </section>

				
        <section class="cards-box container">
          <div class="row">
                        
            <div class="thesis-card col-xs-12 col-sm-4 col-lg-3">
              <div class="card-wrapper card-wrapper_sensible">
                <div class="thesis card-front">
                        <h3 class="thesis__title">В <span class="red">любом</span> месте <br> в <span class="red">удобное</span> время</h3>

                </div>
  
                <noindex>
                        <div class="thesis invisible">
                                <h3 class="thesis__title">В <span class="red">любом</span> месте <br> в <span class="red">удобное</span> время</h3>
             
                        </div>	
                </noindex>
              </div>			
            </div>
            

            <div class="thesis-card col-xs-12 col-sm-4 col-lg-3">
              <div class="card-wrapper card-wrapper_sensible">
                <div class="thesis card-front">
                        <h3 class="thesis__title"><span class="orange">Ваш личный</span> <br/> LANG-бот</h3>

                </div>
  
              </div>	
            </div>
            
          </div>
        </section>
				
        <%#*<div class="girl-with-book girl-with-book_ege visible-lg"> </div>%>
        
      </div>
      
      
      <%= render 'layouts/footer', :footer_class => 'footer_hidden' %>

    </div>
    
    <!-- Plugins styles -->    
    <%= stylesheet_link_tag "public_styles_plugins" %>
      
    <%#*<!-- Javascript -->%>    
    <%#= javascript_include_tag "application" %>


  </body>
</html>